@import "tailwindcss";

option{
    background: #1E2939;
}
body{
  overflow-x: hidden;
}
/* h3,h1{
   
} */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */